openapi: 3.0.0
info:
  version: 1.0.0
  title: Swagger Innovaps
  license:
    name: MIT
  description: API For Angakaspura
servers:
  - url: 'https://aps.jaladara.com/mobile/api'
paths:
  /login:
    post:
      summary: Login
      operationId: post-login
      responses:
        '200':
          description: Successful Login
          headers: {}
      description: Login for user
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
            examples:
              Example:
                value:
                  email: nazmudin@imaniprima.com
                  password: polisi86
          application/xml:
            schema:
              type: object
              properties: {}
        description: ''
      parameters: []
      tags:
        - Auth
  /categories:
    get:
      summary: Category
      tags:
        - Category
      responses:
        '200':
          description: OK
        '401':
          description: No Provided Token
          headers: {}
      operationId: get-category
      description: Get All Categories of Products
      parameters: []
      security:
        - Authorization: []
    parameters: []
  /category/add:
    post:
      summary: ''
      operationId: post-categories-add
      responses:
        '200':
          description: OK
      description: ''
      tags:
        - Category
      security:
        - Authorization: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                banner:
                  type: string
                icon:
                  type: string
                slug:
                  type: string
                meta_title:
                  type: string
                meta_description:
                  type: string
            examples:
              Example:
                value:
                  name: string
                  banner: string
                  icon: string
                  slug: string
                  meta_title: string
                  meta_description: string
        description: Request Body Post Categories
    parameters: []
  '/category/{id}':
    parameters:
      - schema:
          type: integer
        name: id
        in: path
        required: true
    get:
      summary: ''
      operationId: 'get-category-:id'
      responses:
        '200':
          description: OK
      description: ''
      parameters: []
      security:
        - Authorization: []
      requestBody: {}
components:
  schemas: {}
  securitySchemes:
    Authorization:
      type: http
      scheme: bearer
security:
  - API Key - 1: []
