openapi: 3.0.0
info:
  version: 1.0.0
  title: Swagger Innovaps
  license:
    name: MIT
  description: API For Angakaspura
servers:
  - url: 'https://aps.jaladara.com/mobile/api'
paths:
  /login:
    post:
      summary: Login
      operationId: post-login
      responses:
        '200':
          description: Successful Login
          headers: {}
      description: Login for user
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
            examples:
              Example:
                value:
                  email: nazmudin@imaniprima.com
                  password: polisi86
          application/xml:
            schema:
              type: object
              properties: {}
        description: ''
      parameters: []
      tags:
        - Auth
  /categories:
    get:
      summary: Category
      tags: []
      responses:
        '200':
          description: OK
        '401':
          description: No Provided Token
          headers: {}
      operationId: get-category
      description: Get All Categories of Products
      parameters: []
      security:
        - Authorization: []
    parameters: []
components:
  schemas:
    Pets:
      title: Pets
      description: A list of pets.
      type: array
      x-tags:
        - Pets
      items:
        $ref: ./models/pet.v1.yaml
  securitySchemes:
    Authorization:
      type: http
      scheme: bearer
security:
  - API Key - 1: []
